language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"

install:
  - pip install -r requirements.txt
  - pip install -r requirements_travis.txt

script:
  - coverage run -m py.test

after_success:
  - coveralls