exclude *
recursive-include examples *.py
recursive-include trakt *.py
recursive-include tests *
include requirements*.txt .coveragerc .gitignore *.cfg *.in *.ini *.py *.rst *.yml
global-exclude *.iml *.pyc