exclude *
recursive-include examples *.py
recursive-include trakt *.py
recursive-include tests *
include AUTHORS *requirements.txt .coveragerc .gitignore *.cfg *.in *.ini *.py *.rst *.yml
exclude .travis.yml travis-requirements.txt
global-exclude *.iml *.pyc
