[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
requests = "*"

[dev-packages]
pytest = "*"
httmock = "*"
pyhamcrest = "*"
build = "*"
pbr = "*"
setuptools = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
