# Style standards
flake8

# Tests
pytest>=2.7.0, < 3.0.0

# Test coverage
coverage>=4.0.3, < 4.3.0
pytest-cov>=2.1.0, < 2.4.0

# Test automation
tox>=1.7.2

# Test helpers
git+git://github.com/fuzeman/responses.git@master#egg=responses-0.2.2
